#resize
  .items#sort
    - orders.each_with_index do |order, index|
      .item{id: "image-#{order.image.id}"}
        %img{:src => "data:text/plain;base64, #{order.image.data}"}/
        .menubar
          .set-thumbnail
            = fa_icon "tv"
        .mask-top
          .sidemenu{ class: "number-#{index}", "data-target" => "#modal", "data-toggle" => "modal", :type => "button"}
            = fa_icon "plus", text: "ここに追加"
        .mask-bottom
          .sidemenu{ class: "number-#{index + 1}", "data-target" => "#modal", "data-toggle" => "modal", :type => "button"}
            = fa_icon "plus", text: "ここに追加", class: "number-1#{index + 1}"
