= form_for [@book, @page] do |f|
  - if @page.errors.any?
    #error_explanation
      %h2
        = pluralize(@page.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :url
    %br/
    = f.text_field :url, class: "form-control"
  .field
    = f.label :title
    %br/
    = f.text_field :title, class: "form-control"
  .field
    = f.label :under_width
    %br/
    = number_field :under_width, nil, {min: 0, value: 300, class: "form-control"}
  .field
    = f.label :under_height
    %br/
    = number_field :under_height, nil, {min: 0, value: 300, class: "form-control"}
  .actions
    = f.submit "submit"
