// %h1 Editing Page
// = render 'form'

// %p#notice= notice
// %p
//   %strong Book:
//   = @page.book
// %p
//   %strong Url:
//   = @page.url
// %p
//   %strong title:
//   = @page.title
// %p
//   %strong thumbnail:
//   %img{:src => "data:text/plain;base64, #{@page.thumbnail}", id: "thumbnail"}/

#addmodal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        %span#beforenumber
        枚目の後に画像を追加する
        .field
          %label URL
          %br
          %input{ type:"text", value: "", id:"add_url" }
        .field
          %label under_width
          %br/
          = number_field :under_width, nil, {min: 0, value: 300, id: "add_under_width"}
        .field
          %label under_height
          %br/
          = number_field :under_height, nil, {min: 0, value: 300, id: "add_under_height"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button#addimage.btn.btn-primary{:type => "button"} Save changes
.container
  .row
    .col-md-3
    .col-md-6
      #title
        = render partial: "titlecomplete", locals: {name: @page.title}
      = render 'form'
      %article#main.edit
        = render partial: "images", locals: {orders: @orders}
    .col-md-3
= link_to 'Show', book_page_path(@book, @page)
|
= link_to 'Back', book_pages_path(@book)

:javascript
  $(function(){
    $('#resize').resizable({
      containment: "#main",
      minWidth: 240
    })
    $('#sort').sortable()
    $(".set-thumbnail").on("click", function(){
      var data = this.parentElement.parentElement
      var img_id = data.id.split('image-')[1]
      $.ajax({
        type: "POST",
        url: ("/books/#{@book.id}/pages/#{@page.id}/images/" + img_id + "/thumbnail"),
        success: function(data){
         $("#thumbnail")[0].src = "data:text/plain;base64, " + data.data
        }
      });
    })
    $("#addimage").on("click", function(){
      $.ajax({
        type: "POST",
        url: ("/books/#{@book.id}/pages/#{@page.id}/add"),
        data: {
          "order": $("#beforenumber").text(),
          "url": $("#add_url")[0].value,
          "under_height":  $("#add_under_height")[0].value,
          "under_width":  $("#add_under_width")[0].value
        },
        success: function(data){
        }
      })
    });
    $('#sort').on('sortstop', function(){
      sorted_order = []
      $("#sort .item").each(function(index, data){
        sorted_order.push(data.id.split("image-")[1])
      })
      $.ajax({
        type: "POST",
        url: ("/books/#{@book.id}/pages/#{@page.id}/sort"),
        data: {
            "order": sorted_order
        },
        success: function(data){
          $(".index").each(function(index, data){$(data).text(index + 1)})
        }
      });

    })

  })
