%h1 Editing Page
= render 'form'

%p#notice= notice
%p
  %strong Book:
  = @page.book
%p
  %strong Url:
  = @page.url
%p
  %strong title:
  = @page.title
%p
  %strong thumbnail:
  %img{:src => "data:text/plain;base64, #{@page.thumbnail}"}/

%article#main.edit
  #resize
    .items#sort
      - @images.each_with_index do |image, index|
        .item{id: "image-#{image.id}"}
          %img{:src => "data:text/plain;base64, #{image.data}"}/
          .menubar
            = link_to thumbnail_book_page_image_path(@book, @page, image.id), method: :post, data: {confirm: "サムネイルに設定しますか？"} do
              = fa_icon "tv"
          .mask-top
            .sidemenu{ class: "number-#{index}" }
              = fa_icon "plus", text: "ここに追加"
          .mask-bottom
            .sidemenu{ class: "number-#{index + 1}" }
              = fa_icon "plus", text: "ここに追加", class: "number-1#{index + 1}"

= link_to 'Show', book_page_path(@book, @page)
|
= link_to 'Back', book_pages_path(@book)

:javascript
  $(function(){
    $('#resize').resizable({
      containment: "#main",
      minWidth: 240
    })
    $('#sort').sortable()
    $('#sort').on('sortstop', function(){
      sorted_order = []
      $("#sort .item").each(function(index, data){
        sorted_order.push(data.id.split("image-")[1])
      })
      $.ajax({
        type: "POST",
        url: ("/books/#{@book.id}/pages/#{@page.id}/sort"),
        data: {
            "order": sorted_order
        },
        success: function(data){
          data
        }
    });

    })
  })
