// %h1 Editing Page
// = render 'form'

// %p#notice= notice
// %p
//   %strong Book:
//   = @page.book
// %p
//   %strong Url:
//   = @page.url
// %p
//   %strong title:
//   = @page.title
// %p
//   %strong thumbnail:
%img{:src => "data:text/plain;base64, #{@page.thumbnail}", id: "thumbnail"}/

#addmodal.modal.fade{"aria-labelledby" => "addModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#addmodalLabel.modal-title Modal title
      .modal-body
        %span#beforenumber
        枚目の後に画像を追加する
        .field
          %label URL
          %br
          %input{ type:"text", value: "", id:"add_url", class: "form-control"}
        .field
          %label under_width
          %br/
          = number_field :under_width, nil, {min: 0, value: 300, id: "add_under_width", class: "form-control"}
        .field
          %label under_height
          %br/
          = number_field :under_height, nil, {min: 0, value: 300, id: "add_under_height", class: "form-control"}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button#addimage.btn.btn-primary{:type => "button"} Save changes
#deletemodal.modal.fade{"aria-labelledby" => "deletemodalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#deletemodalLabel.modal-title Modal title
      .modal-body
        #delete-image_id.hidden
        本当に削除しますか？
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button#deleteimage.btn.btn-danger{:type => "button"} Delete
.row
  .col-md-2
  .col-md-8
    #title
      = render partial: "titlecomplete", locals: {name: @page.title}
    %article#main.edit
      = render partial: "images", locals: {orders: @orders}
  .col-md-2
= link_to 'Show', book_page_path(@book, @page)
|
= link_to 'Back', book_pages_path(@book)

:javascript
  $(function(){
    $("#addimage").on("click", function(){
      $.ajax({
        type: "POST",
        url: ("/books/#{@book.id}/pages/#{@page.id}/add"),
        data: {
          "order": $("#beforenumber").text(),
          "url": $("#add_url")[0].value,
          "under_height":  $("#add_under_height")[0].value,
          "under_width":  $("#add_under_width")[0].value
        },
        success: function(data){
        }
      })
    });
    $("#deleteimage").on("click", function(){
      $.ajax({
        type: "DELETE",
        url: ("/books/#{@book.id}/pages/#{@page.id}/delete_image"),
        data: {
          "image_id": $("#delete-image_id").text()
        },
        success: function(data){
        }
      })
    });
  })
