%p#notice= notice
%h1 Listing Pages
%table
  %thead
    %tr
      %th Book
      %th Url
      %th title
      %th{:colspan => "3"}
  %tbody
    - @pages.each do |page|
      %tr
        %td= page.book
        %td= page.url
        %td= page.title
        %td= link_to 'Show', book_page_path(@book, page)
        %td= link_to 'Edit', edit_book_page_path(@book, page)
        %td= link_to 'Destroy', book_page_path(@book, page), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Page', new_book_page_path(@book)
