<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @page.book %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<%= link_to 'Edit', edit_book_page_path(@book, @page) %> |
<%= link_to 'Back', book_pages_path(@book) %>
