%p#notice= notice
%p
  %strong Book:
  = @page.book
%p
  %strong Url:
  = @page.url
%p
  %strong title:
  = @page.title
%p
  %strong thumbnail:
  %img{:src => "#{@page.thumbnail}"}/
%ul
  - @images.each do |image|
    %li
      %img{:src => "#{image.url}"}/
      = link_to "サムネイルに設定", thumbnail_book_page_image_path(@book, @page, image.id), method: :post
= link_to 'Edit', edit_book_page_path(@book, @page)
|
= link_to 'Back', book_pages_path(@book)
