%p#notice= notice
%p
  %strong Title:
  = @book.title
%p
  %strong Description:
  = @book.description

- @pages.each do |page|
  = link_to book_page_path(@book, page.order) do
    = page.title
    %img{:src => "data:text/plain;base64, #{page.thumbnail}"}/


= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path
