%p#notice= notice
%h1 Listing Images
%table
  %thead
    %tr
      %th Url
      %th Page
      %th{:colspan => "3"}
  %tbody
    - @images.each do |image|
      %tr
        %td= image.url
        %td= image.page
        %td= link_to 'Show', image
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Image', new_image_path
